<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebJSContextdemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D9AE0981CF81B8A00BE0EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D9AE0B11CF81B8A00BE0EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D9AE0BC1CF81B8A00BE0EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
